.basic {
  width: 100%;
  min-width: 1170px;
}
.transition {
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
body {
  font-family: 'OpenSansRegular';
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: auto;
}
.top-panel {
  width: 100%;
  min-width: 1170px;
  height: 40px;
  border-bottom: 1px solid #dbdbdb;
}
.top-panel ul {
  float: right;
  padding-top: 9px;
}
.top-panel ul li {
  float: left;
  font-size: 14px;
}
.top-panel ul li a {
  color: black;
  display: inline-block;
}
.enter-link {
  margin-right: 14px;
  background: url(../images/icons/enter.png) no-repeat;
  background-position: 0 4px;
  padding-left: 15px;
  padding-top: 3px;
}
.register-link {
  background: url(../images/icons/register.png) no-repeat;
  background-position: 0 3px;
  padding-left: 17px;
  padding-top: 3px;
  cursor: pointer;
}
.register-default {
  background: url(../images/icons/register.png) no-repeat;
  background-position: 0 3px;
  padding-left: 17px;
  padding-top: 3px;
  cursor: pointer;
}
.header {
  width: 100%;
  min-width: 1170px;
  border-bottom: 1px solid #dbdbdb;
  height: 120px;
}
.header .telephone {
  float: right;
  font-family: 'OpenSansSemibold';
  padding: 23px 0;
}
.header .telephone p {
  color: #191919;
  font-size: 22px;
}
.col-33 {
  float: left;
  width: 33.3333%;
}
.mode {
  font-family: 'OpenSansSemibold';
  font-size: 15px;
  color: #191919;
  line-height: 1.2;
  padding: 41px 0;
}
.mode span {
  text-transform: uppercase;
}
.logo {
  width: 340px;
  margin: auto;
  padding: 21px 0;
  position: relative;
  right: 18px;
}
.logo p:first-child {
  font-family: 'RobotoSlabRegular';
  font-size: 50px;
}
.logo p:first-child span:nth-child(2) {
  color: #d05165;
}
.logo p:first-child span:nth-child(3) {
  color: #11a685;
}
.logo p:nth-child(2) {
  font-size: 12px;
  color: #191919;
  font-family: 'OpenSansRegular';
  text-transform: uppercase;
  float: right;
  display: inline-block;
  margin-top: 10px;
  padding-right: 5px;
}
.get-call-link {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 190px;
  height: 35px;
  border: 2px solid #d05165;
  font-size: 14px;
  color: #d05165;
  text-transform: uppercase;
  padding-top: 8px;
  margin-top: 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.get-call-link:hover {
  color: white;
  background-color: #d05165;
}
.menu {
  width: 100%;
  min-width: 1170px;
  height: 60px;
  background-color: whitesmoke;
}
nav {
  float: left;
  width: 750px;
}
nav ul {
  padding-top: 18px;
}
nav li {
  float: left;
  margin-right: 40px;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
nav li:hover,
nav li.active {
  border-bottom: 1px solid #d05165;
}
nav li:hover a,
nav li.active a {
  border-bottom: 1px solid #d05165;
  color: #d05165;
}
nav li a {
  color: #191919;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  padding-top: 2px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.basket-link {
  display: block;
  float: right;
  width: 340px;
  height: 60px;
  background-color: #d05165;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}
.basket-link .basket-text {
  text-decoration: underline;
  color: white;
  padding-left: 3px;
}
.basket-link .basket-icon {
  display: inline-block;
  width: 17px;
  height: 18px;
  background: url(../images/icons/cat.png) no-repeat;
  position: relative;
  top: 1px;
}
.slider-wrapper {
  width: 100%;
  min-width: 1170px;
  height: 350px;
}
.quality {
  width: 100%;
  min-width: 1170px;
  height: 130px;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 28.5px;
}
.col-25 {
  float: left;
  width: 25%;
}
.qual-icon {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.qual-desc {
  float: left;
  width: 185px;
  color: #7b7b7b;
  line-height: 1.2;
  padding-top: 12px;
}
.main {
  width: 100%;
  min-width: 1170px;
  padding-top: 25px;
}
.sidebar {
  width: 270px;
  float: left;
}
.sidebar h3 {
  text-transform: uppercase;
  color: #11a685;
  font-size: 20px;
  font-family: 'OpenSansBold';
  margin-bottom: 23px;
}
.search {
  position: relative;
}
.search input[type="text"] {
  width: 100%;
  height: 35px;
  border: 1px solid #bbbbbb;
  outline: 0;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 3px;
}
.search input[type="submit"] {
  width: 16px;
  height: 15px;
  background: url(../images/icons/search-icon.png) no-repeat;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.catalog {
  margin-top: 25px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e7e7e7;
}
.catalog a {
  color: #191919;
  text-decoration: underline;
}
.catalog a:hover {
  color: #bf243c;
}
.catalog li {
  line-height: 1.3;
  margin-bottom: 5px;
}
.brands {
  padding-top: 27px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e7e7e7;
}
.brands a {
  color: #191919;
}
.brands li {
  line-height: 1.3;
  margin-bottom: 5px;
}
.viewed-block {
  padding: 15px 0;
  border-bottom: 1px solid #e7e7e7;
}
.viewed-block:hover .tit,
.viewed-block:hover .price {
  color: #d05165;
}
.viewed-block:hover img {
  border-color: #d05165;
}
.viewed-img {
  width: 70px;
  height: 70px;
  float: left;
}
.viewed-img img {
  border: 1px solid transparent;
}
.viewed-desc {
  float: right;
  width: 180px;
}
.viewed-desc .tit {
  padding-bottom: 17px;
  color: #393939;
  font-size: 14px;
  font-family: 'OpenSansRegular';
  line-height: 16px;
}
.viewed-desc .price {
  font-size: 13px;
  color: #393939;
  font-family: 'OpenSansSemibold';
}
.viewed {
  padding-top: 20px;
}
.vk-widget {
  margin-top: 25px;
}
.content {
  width: 870px;
  float: right;
  padding-bottom: 55px;
}
.content h2 {
  font-size: 30px;
  font-family: 'OpenSansBold';
  text-transform: uppercase;
  color: #11a685;
}
.content .text {
  line-height: 20px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e7e7e7;
  margin-top: 30px;
}
.item {
  margin-top: 25px;
  margin-left: -30px;
}
.item-block {
  border: 1px solid #d7d7d7;
  width: 270px;
  height: 455px;
  padding: 10px;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.item-block:hover {
  border-color: #d05165;
  box-shadow: 0px 0px 0px 1px #d05165;
}
.item-block .add-basket {
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  color: white;
  background-color: #d05165;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'OpenSansBold';
  padding-top: 10px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.item-block .add-basket:hover {
  background-color: #bf243c;
}
.item-block .add-basket.active {
  background-color: #781827;
}
.item-block .one-click {
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  text-align: center;
  color: white;
  background-color: #11a685;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'OpenSansBold';
  padding-top: 10px;
  margin-top: 10px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.item-block .one-click:hover {
  background-color: #058165;
}
.item-img {
  width: 250px;
  height: 250px;
  border: 1px solid #d7d7d7;
  text-align: center;
  position: relative;
}
.item-img .sale {
  width: 88px;
  height: 88px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icons/sale.png) no-repeat;
  font-family: 'OpenSansBold';
  font-size: 20px;
  color: white;
  padding-top: 15px;
}
.item-img .sale p {
  width: 55px;
}
.item-cell {
  width: 250px;
  height: 250px;
  display: table-cell;
  vertical-align: middle;
}
.item-desc {
  width: 250px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.item-desc .title {
  color: #393939;
  font-size: 13px;
  font-family: 'OpenSansSemibold';
  text-transform: uppercase;
}
.item-desc .price {
  color: #d05165;
  font-size: 16px;
  font-family: 'OpenSansSemibold';
  margin-top: 15px;
}
.item-desc .prev-price {
  color: #292929;
  text-decoration: line-through;
  padding-right: 8px;
}
.new-item {
  margin-top: 35px;
}
.new-item h2 {
  margin-left: 30px;
  margin-bottom: 25px;
}
.join {
  margin-top: 35px;
}
.social-list {
  margin-top: 30px;
}
.social-list li {
  float: left;
  margin-right: 60px;
}
.social-list a {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.social-list .instagram-icon {
  background-color: #4f7fa6;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.social-list .instagram-icon:hover {
  background-color: #292929;
}
.social-list .youtube-icon {
  background-color: #e62c18;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.social-list .youtube-icon:hover {
  background-color: #292929;
}
.social-list .vk-icon {
  background-color: #6383a8;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.social-list .vk-icon:hover {
  background-color: #292929;
}
.social-list .join-cell {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  height: 53px;
}
.top-foot {
  width: 100%;
  min-width: 1170px;
  background-color: #f4f4f4;
  padding-top: 35px;
  padding-bottom: 20px;
}
.foot-list {
  float: left;
  margin-right: 175px;
}
.foot-list h4 {
  text-transform: uppercase;
  color: #11a685;
  font-family: 'OpenSansSemibold';
  letter-spacing: 1.5px;
  padding-bottom: 10px;
}
.foot-list li {
  margin-bottom: 15px;
}
.foot-list li a {
  color: #393939;
  font-size: 13px;
  font-family: 'OpenSansRegular';
}
.foot-list li a:hover {
  color: #d05165;
}
.bot-foot {
  width: 100%;
  min-width: 1170px;
  background-color: #333333;
  padding: 20px 0;
}
.copyright {
  color: #9a9a9a;
  font-size: 13px;
  font-family: 'OpenSansRegular';
  float: left;
}
.payment-list {
  float: right;
}
.payment-list li {
  float: left;
  margin-left: 16px;
}
.form-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 10;
  display: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  background-color: white;
  border: 1px solid #b5b5b5;
  padding: 40px;
  width: 100px;
  -webkit-box-shadow: 0px 0px 8px 0 rgba(181, 181, 181, 0.5);
  -moz-box-shadow: 0px 0px 8px 0 rgba(181, 181, 181, 0.5);
  box-shadow: 0px 0px 8px 0 rgba(181, 181, 181, 0.5);
}
.modal .title {
  color: #191919;
  font-size: 18px;
  font-family: 'OpenSansSemibold';
  text-align: center;
}
.modal input[type="text"],
.modal input[type="password"] {
  outline: 0;
  border: 1px solid gray;
  height: 50px;
  background-color: #ececec;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  padding-left: 39px;
}
.modal input[type="submit"] {
  outline: 0;
  border: 0;
  cursor: pointer;
  height: 50px;
  background-color: #d05165;
  color: white;
  text-transform: uppercase;
  font-family: 'OpenSansBold';
  font-size: 14px;
  margin: auto;
  margin-top: 30px;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
}
.modal input[type="submit"]:hover {
  background-color: #bf243c;
}
.modal .input-name {
  background-image: url(../images/icons/input-name.png);
  background-repeat: no-repeat;
  background-position: 21px;
}
.modal .input-tel {
  background-image: url(../images/icons/input-tel.png);
  background-repeat: no-repeat;
  background-position: 19px;
}
.modal .input-email {
  background-image: url(../images/icons/input-email.png);
  background-repeat: no-repeat;
  background-position: 17px;
}
.modal .input-password {
  background-image: url(../images/icons/input-locked.png);
  background-repeat: no-repeat;
  background-position: 23px;
}
.modal .protected {
  color: #11a685;
  font-family: 'OpenSansSemibold';
  text-align: center;
  margin-top: 30px;
}
.modal .closed {
  cursor: pointer;
  position: absolute;
  width: 22px;
  height: 22px;
  right: 20px;
  top: 20px;
}
#get-call {
  width: 660px;
  margin-left: -330px;
  margin-top: -158px;
  display: none;
}
#get-call form {
  margin-top: 40px;
}
#get-call input {
  width: 275px;
}
#get-call .i-name-block {
  float: left;
}
#get-call .i-tel-block {
  float: right;
}
#added {
  width: 770px;
  height: 405px;
  margin-left: -385px;
  margin-top: -202.5px;
  display: none;
}
#added .am-input {
  width: 65px;
  height: 40px;
  border: 1px solid #dbdbdb;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 22px;
  color: #393939;
}
#added .amount-input {
  position: relative;
  width: 65px;
  height: 40px;
  margin: auto;
}
#added .top-amount {
  display: block;
  width: 12px;
  height: 6px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 2;
  background: url(../images/icons/top-amount.png) no-repeat;
}
#added .bot-amount {
  display: block;
  width: 12px;
  height: 6px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 11px;
  background: url(../images/icons/bot-amount.png) no-repeat;
}
#added .tovar-cell {
  border: 1px solid #d7d7d7;
  width: 85px;
  height: 85px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#added table {
  width: 100%;
}
#added table td {
  vertical-align: middle;
  text-align: center;
}
#added table thead td {
  padding: 15px 0;
  background-color: whitesmoke;
  color: #848484;
  font-size: 14px;
  font-family: 'OpenSansRegular';
}
#added table tbody td {
  padding: 25px 0;
  border-bottom: 1px solid #e7e7e7;
}
#added .title {
  margin-bottom: 25px;
}
#added .tovar-img {
  width: 13%;
}
#added .price {
  color: #d05165;
  font-size: 18px;
  font-family: 'OpenSansBold';
}
#added .checkout {
  display: block;
  width: 275px;
  height: 50px;
  float: left;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  font-family: 'OpenSansBold';
  background-color: #d05165;
  padding-top: 18px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  transition: 0.2s all linear;
  margin-left: 40px;
  margin-right: 60px;
}
#added .checkout:hover {
  background-color: #bf243c;
}
#added .continue {
  display: inline-block;
  float: left;
  color: #7d7d7d;
  font-family: 'OpenSansBold';
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
  position: relative;
  top: 18px;
}
#added .after-table {
  margin-top: 50px;
}
#registration {
  width: 660px;
  margin-left: -330px;
  height: 475px;
  margin-top: -237.5px;
  display: none;
}
#registration form {
  width: 275px;
  margin: auto;
}
#registration input {
  width: 100%;
}
#registration .input-block {
  margin-top: 30px;
}
.breadcrumbs {
  font-size: 14px;
  font-family: 'OpenSansRegular';
  margin-bottom: 25px;
}
.breadcrumbs li {
  float: left;
}
.breadcrumbs li:last-child {
  padding-top: 3px;
}
.breadcrumbs a {
  color: #292929;
  text-decoration: underline;
}
.breadcrumbs .b-arrow {
  padding: 0 8px;
  position: relative;
  top: 3px;
}
.f-brand {
  margin-left: -20px;
  margin-top: 25px;
}
.f-brand:after {
  content: "";
  display: block;
  border-bottom: 1px solid #e7e7e7;
  margin-left: 20px;
  padding-top: 25px;
}
.f-brand li {
  float: left;
  margin-bottom: 10px;
  margin-left: 20px;
}
.f-brand a {
  color: #d05165;
  text-decoration: underline;
}
/*	=	Select */

.slct {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  background-color: transparent;
  background-image: url(../images/icons/drop.png);
  background-repeat: no-repeat;
  background-position: 97%;
  width: 270px;
  height: 35px;
  color: #191919;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  padding-left: 10px;
  padding-top: 8px;
}
.slct.active {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.drop {
  margin: 0;
  padding: 0;
  width: 270px;
  border: 1px solid #bbbbbb;
  border-top: none;
  display: none;
  position: absolute;
  background: white;
  z-index: 2;
}
.drop li {
  list-style: none;
  cursor: pointer;
  display: block;
  height: 29px;
  padding-left: 10px;
  padding-top: 5px;
  color: #191919;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.drop li:hover {
  background-color: #d05165;
  color: white;
  border-bottom-color: #bbbbbb;
  border-top-color: #bbbbbb;
}
.drop li:first-child {
  border-top: 0 !important;
}
.drop li:last-child {
  border-bottom: 0 !important;
}
.filter-block {
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.filter-block td {
  vertical-align: middle;
  padding-top: 15px;
}
.filter-block .select {
  margin-left: 15px;
}
